extends ../layout/index

block contenido
    .py-0 
        h1.text-4xl.my-5.font-extrabold.text-center Ubiko
        h2.text-center.text-2xl.font-extrabold.text-indigo-600= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="/auth/registro" method="POST" novalidate) 
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="Name" type="text" name="nombre" value= usuario ?usuario.nombre : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="apellido") Tu Apellido
                        input#nombre.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="Surname" type="text" name="apellido" value= usuario ?usuario.apellido : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="telefono") Telefono
                        input#nombre.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="Phone" type="text" name="telefono" value= usuario ?usuario.telefono : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="fechaNacimiento") Fecha de Nacimiento
                        input#nombre.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="fechaNacimiento" type="date" name="fechaNacimiento" value= usuario ?usuario.fechaNacimiento : '')    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.mt-2.font-bold(for="email") Gmail
                        input#email.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="you@example.com" type="email" name="email" value= usuario ?usuario.email : '')
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.mt-2.font-bold(for="documento") Documento de Identidad
                        select#documento.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(name="documento")
                            option(value="") - Seleccione -
                            each documento in documentos 
                                option(value=documento.id selected= datos.documento ? datos.documento == documento.id ? true : false : null )= documento.nombre
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="identificacion") Identificacion
                        input#nombre.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="Numero" type="text" name="identificacion" value= usuario ?usuario.identificacion : '')
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.mt-2.font-bold(for="password") password
                        input#password.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="*******" type="password" name="password")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.mt-2.font-bold(for="repetir_password") confirmar password
                        input#repetir_password.w-full.px-3.py-2.border.border-indigo-500.rounded-xl.placeholder-gray-400(placeholder="*******" type="password" name="repetir_password")

                    input(class="w-full bg-indigo-600 mt-5 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")
                    div.flex.items-center.justify-between
                        a(href="/auth/login").text-gray-400.text-xs.mt-2 ¿Ya tienes una cuenta? Inicia Sesión
                        a(href="/auth/restaurar-password").text-gray-400.text-xs.mt-2 Olvide mi password
block pie 
    div 
        h2(class="text-center text-sm text-gray-400 py-2") &copy; TODOS LOS DERECHOS RESERVADOS #{new Date().getFullYear()} | by Ubiko &hearts;